body {
    background-color:antiquewhite;
  }
  h1 {
    color: gray;
  }

  h2{
    border: 2px dashed rgb(206, 43, 211);
    width: 30%;
    padding: 30px;
    color : rgb(102, 42, 213);
  }